{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block container %}

<h1>Bootstrap starter template</h1>
<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>


   <div class="tabbable" style="margin-bottom: 18px;">
      <ul class="nav nav-tabs">
        <li class=""><a href="#tab1" data-toggle="tab">Section 1</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">Section 2</a></li>
        <li class="active"><a href="#tab3" data-toggle="tab">Section 3</a></li>
      </ul>
      <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
        <div class="tab-pane" id="tab1">
          <p>I'm in Section 1.</p>
        </div>
        <div class="tab-pane" id="tab2">
          <p>Howdy, I'm in Section 2.</p>
        </div>
        <div class="tab-pane active" id="tab3">
            <p>Find classes or events scheduled this week.</p>
            {% crispy form %}
        </div>
      </div>
    </div>




{% endblock container %}
