{% extends "base.html" %}

{% load thumbnail %}


{% block container %}

<h1>This is chessgrid</h1>
<p>what is this.<br> more on what this is...</p>

        <div id="links">
            {% for photo in chessboard.photos.all %}

            {% thumbnail photo.image "600x600" crop="center" as im %}
            {% thumbnail photo.image "200x200" crop="center" as im_thumb %}
            <a href="{{ im.url }}" title="{{ photo.title }}" data-gallery>
                <img src="{{ im_thumb.url}}" alt="{{ photo.title }}" width="{{ im_thumb.width }}" height="{{ im_thumb.height }}">
            </a>
            {% endthumbnail %}
            {% endthumbnail %}


            {% endfor %}
        </div>


{% endblock container %}
